body {
  
    min-height: 100vh;
    font-size: calc(.5em + 1vmin);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #e6e8db;
}

div {
	margin: 0 !important;
	padding: 0 !important;
}
.wrapper {
	position: fixed;
	height: 100vh;
	width: 100vw;
	margin: auto;
	background: #280744;
    left: 0;
    top: 0;
    z-index: -100;
}
.background {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSXhkaG1VaEhSTjA
);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
}

.rocks_1 {
	position: fixed;
	bottom: -5px;
	height: 20vh;
	width: 100vw;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QckJsSTBOSmdsYmc);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 100s infinite linear both;
}
.rocks_2 {
	position: fixed;
	bottom: -60px;
	height: 20vh;
	width: 100vw;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSC1sYnVUWUxKSGs);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 30s infinite linear both;
}
.rails {
	position: fixed;
	bottom: -110px;
	height: 20vh;
	width: 100vw;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QZmtCbjlIbjVwclk);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 5s infinite linear both;
}
.train {
	position: fixed;
	bottom: -105px;
	height: 20vh;
	width: 80vw;
	right: 0px;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
.ground {
  position: fixed;
  width: 100vw;
  height: 2vh;
  bottom: 0px;
  background: #16012f;
}
.lights {
	position: fixed;
	bottom: -39px;
	height: 20vh;
	width: 100vw;
	background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QNTJ1U2M1eFptSTA);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 4s infinite linear both;
}

@keyframes translateX {
	0% {background-position: 0px 0px;}
	100% {background-position:  1920px 0px;}
}